<configuration>
    <springProperty scope="context" name="app" source="spring.application.name" defaultValue="unknown"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <provider class="net.logstash.logback.composite.loggingevent.LoggingEventFormattedTimestampJsonProvider"/>
                <version/>
                <logLevel/>
                <logLevelValue/>
                <loggerName/>
                <threadName/>
                <provider class="com.banking.common.logging.PiiMaskingJsonProvider"/>
                <mdc>
                    <includeMdcKeyName>correlationId</includeMdcKeyName>
                    <includeMdcKeyName>traceId</includeMdcKeyName>
                    <includeMdcKeyName>spanId</includeMdcKeyName>
                </mdc>
                <stackTrace>
                    <throwableConverter class="com.banking.common.logging.PiiMaskingThrowableConverter"/>
                </stackTrace>
            </providers>
        </encoder>
    </appender>

    <logger name="com.banking" level="INFO"/>
    <logger name="org.springframework.cloud.gateway" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>